page-restaurant {
	
	ion-title{
    	text-align: left;
  	}

	img.resize{

 		width:75%;
 		height:75%;
	}

	.resimage{

  		display: block;
  		line-height: 0;
  		width: 100%;
  		height: 100%;
  		object-fit: contain;
	}

	.dishimage{

  		/* line-height: 0; */
  		display: inline;
  		width: 100%;
  		height: 100%;
  		object-fit: contain;
  		/* float: left; */
	}

}
