<!--
  Generated template for the RestaurantPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Back to Cuisines</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>


  <ion-item text-wrap>
    <ion-thumbnail item-right>
      <img src ="../assets/img/{{resObj.Path}}" style='height: 50%; width: 50%; object-fit: contain'>
    </ion-thumbnail>

    <h1>{{resObj.Name}}</h1>
    <h1>Rating: {{resObj.Rating}}</h1>
    <h2>Description:</h2>
    <h3><p>
      {{resObj.Description}}
      </p>
    </h3>
  </ion-item>

  <ion-item-divider>
    <!-- <ion-list *ngFor = "let dish of resObj.$Dishes| async">
      <h2>
        {{dish.Name}} 
      </h2>
    </ion-list> -->

  </ion-item-divider> 



<!--

*ngFor = "let dish of resObj.$Dishes | async"




<ion-item text-wrap>
  <ion-img width = "72" height ="271" src="../../assets/img/{{ (restaurant_obj | async)?.Path}}" cache ="true" item-right>
</ion-img>

        <h1>{{ (restaurant_obj| async)?.Name}}</h1>
        <h1>Rating: {{ (restaurant_obj | async)?.Rating}}</h1>
        <h2>Description:</h2>
        <h3><p>
          Joy Yee Noodle opened in Evanston in
        1994 and our second location in Chinatown Square in 1996. We were
        the first in the midwest to offer Taiwanese style bubble teas.
        Going a step further, Joy Yee’s was the first to combine
        the South Asian fresh fruit freezes(smoothies) with the popular
        tapioca balls.
       </p>
     </h3>
</ion-item>

<ion-item text-wrap>
  <ion-img width = "72" height ="271" src="../../assets/img/{{ (restaurant_obj | async)?.Path}}" cache ="true" item-right>
</ion-img>

        <h1>{{ (restaurant_obj| async)?.Name}}</h1>
        <h1>Rating: {{ (restaurant_obj | async)?.Rating}}</h1>
        <h2>Description:</h2>
        <h3><p>
          Joy Yee Noodle opened in Evanston in
        1994 and our second location in Chinatown Square in 1996. We were
        the first in the midwest to offer Taiwanese style bubble teas.
        Going a step further, Joy Yee’s was the first to combine
        the South Asian fresh fruit freezes(smoothies) with the popular
        tapioca balls.
       </p>
     </h3>
</ion-item>



Joy Yee’s offers an extensive list of appetizers
including list of broths, noodles, meats and other
fillers from which they can concoct soups suited to their
tastes.This diverse Asian cuisine flows into the main
courses as well, and the menu of entrees is vast.
Diners can choose between dozens of dishes, ranging from the
most traditional Asian favorites to innovative new twists on classic
recipes. We pride ourselves on offering new and exciting dishes




<ion-item-divider>
<ion-list>
 <ion-list-header>Top three authentic dishes</ion-list-header>

<ion-item text-wrap (click) = 'showDish1Details()'>
 <img src = "../../assets/img/Spicy_Basil_Chicken_with_Fried_Egg.png" item-left style='height: 10%; width: 10%;'>
 <h2>Spicy Basil Chicken with Fried Egg</h2>
 <p>Authenticity: 95%</p>
 <p>Price: $10.55</p>
</ion-item>

<ion-item text-wrap (click) = 'showDish2Details()'>
 <img src = "../../assets/img/Black_Pepper_Beef.png" item-left style='height: 10%; width: 10%;'>
 <h2>Black Pepper Beef</h2>
 <p>Authenticity: 90%</p>
 <p>Price: $10.55</p>
</ion-item>

</ion-list>
</ion-item-divider>

-->


</ion-content>
